# Игнорировать все .env файлы
*.env

# Игнорировать все папки .vscode в любом месте проекта
**/.vscode/

# Игнорировать все node_modules в любом месте
**/node_modules/

# Игнорировать сборку
**/build/
**/dist/

